<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.garden.todoplusdiary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TD"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.garden.todoplusdiary.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.garden.todoplusdiary.Diary"/>
        <activity android:name="com.garden.todoplusdiary.Todo"/>
        <activity android:name="com.garden.todoplusdiary.DiaryList"/>
        <activity android:name="com.garden.todoplusdiary.Options"/>
        <activity android:name="com.garden.todoplusdiary.AppLocker"/>
        <activity android:name="com.garden.todoplusdiary.PwSetting"/>
        <service android:name=".TerminatedApp"
            android:stopWithTask="false" />
    </application>

</manifest>